@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="color:#0066ff;">Trang web đăng ký thi trường Đại học Công nghệ- Đại học Quốc gia Hà Nội.</p>
</div>
